
*{
    margin-inline: auto;
    box-sizing: border-box;
  }
  
  body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    background-color: #1F2039;
  }
  
  h1{
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }
  h2{
    color: #F9F8FF;

  }
  
  .tete{
    background-color: aliceblue;
  }

  .bas{
    background-color: aliceblue;
  }
  .middle{
    color: #F9F8FF;
  }
  .important{
    color: #7664ab;
  }
  .ecrivez{
    background:linear-gradient(to left, #8E86B5,#ACAEED);
    color: white;
    border: 2px solid #ACAEED;
    border-radius: 50px;
    font-style: un;
  }
  .ecrivez:hover{
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
  }
  .border{
    border-right: 1px solid  #A5B4FC;
    border-bottom: 1px solid #A5B4FC ;
  }
  a{
    color: black;
  }
  a:hover{
    text-decoration: underline;
  }
  .bas a:hover{
    opacity: 0.5;
    
  }
  .tete a:hover{
    opacity: 0.5;
    text-decoration: underline;
    text-decoration-color: black;
  }
  .lien:hover{
    text-decoration: underline;
  }
  