
*{
    margin-inline: auto;
    box-sizing: border-box;
  }
  
  body{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    background-color: #1F2039;
  }
  
  h1{
    color: #7664ab;
  }
  
  .tete{
    background-color: aliceblue;
  }

  .bas{
    background-color: aliceblue;
  }
  .middle{
    color: #F9F8FF;
  }
  .important{
    color: #7664ab;
  }
  .ecrivez{
    background:linear-gradient(to left, #8E86B5,#ACAEED);
    color: white;
    border: 2px solid #ACAEED;
    border-radius: 50px;
  }
  .border{
    border-right: 1px solid  #A5B4FC;
    border-bottom: 1px solid #A5B4FC ;
  }